*~
coverage
__sandbox

public/stylesheets/site.css
public/documentation*
public/builds

log/
tmp/
cruisecontrol.iws
*.iws
*.ipr
*.iml
.tmtags
.DS_Store
tmtags
.bundle
bin/
dist/
vendor/plugins/rails_upgrade
vendor/ruby/
vendor/jruby/
vendor/bundle
vendor/cache
server_jar/target/

config/ccrb.properties
pkg
reports
config/thin.yml

.ruby-version
.rbenv-version
.rvmrc

*.swp
,*
*.bak
