*~
coverage
__sandbox

public/stylesheets/site.css
public/documentation*
public/builds

log/
tmp/
cruisecontrol.iws
*.iws
*.ipr
*.iml
.tmtags
.DS_Store
tmtags
.bundle
dist/
vendor/plugins/rails_upgrade
vendor/ruby/
vendor/jruby/
vendor/bundle
server_jar/target/

config/ccrb.properties
pkg
reports
