body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 0.9em;
  margin: 0;
  border: 0;
  color: #000;
  background-color: #FFF;
}

a img { border: none; }

.header {
  background-image: url(images/top_gradient.png);
  font-weight: bold;
}

.footer {
  font-size: 0.8em;
  clear: both;
}

.footer a, .footer a:visited {
  color: #999;
  text-decoration: none;
}

.footer .webgen_link a:hover {
  color: #FFF;
  background-color: #666; 
  text-decoration: none;
}

.footer .references {
  padding: 0 1em;
  float: right;
  text-align: center;
  font-size: 0.8em;
}

table#column_layout {
  width: 100%;
  padding: 1em 0;
}

table#column_layout td {
  vertical-align: top;
  text-align: left;
  padding: 1em;
  border-style: none;
}

#menu {
  width: 20%;
  font-size: 1.2em;
  font-weight: bold;
}

#menu a {
  text-decoration: none;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .webgen-menu-item-selected {
	border-left: 3px solid black;
}

#menu ul {
	list-style-type: none;
	padding: 0;
	margin-left: 10px;
}

#menu li > ul {
	font-size: 95%;
}

#menu li {
  margin: 0.0em 0;
  padding: 2px 0;
  padding-left: 5px;
  border-left: 3px solid #CCC;
}

#content {
  width: 80%;
}

#content pre {
  padding: 0.5em;
}

#content pre, #content code {
  font-family: courier, serif;
  font-style: normal;
  font-size: 1em;
  background-color: #F9F9FF;
}

.hint {
  font-family: georgia, times, serif; 
  background-color: #EEE;
  padding: 0.5em;
  margin: 0.5em 2em;
  font-size: 0.9em;
  font-style: italic;
}

.hint code {
  font-family: courier, serif;
  font-style: normal;
  font-size: 1em;
  background-color: #F5F5FF;
}

div.next_step {
  color: #000;
  background-color: #FFF0F5;
  font-weight: bold;
  margin: 3em 2em 1em 2em;
  padding: 0.2em 1em;
}

.letter {
  font-family: georgia, times, serif;
  color: #62A;
  background-color: #FAFAFA;
  font-style: italic;
  padding: 0.5em 2em; 
}