body {
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  font-size: .8em;
  margin: 0;
  border: 0;
  color: #000;
  background-color: #FFF;
}

h3 {
  margin-top: .4em;
}

img { border-style: none; }

a, a:link, a:visited { 
  color: #507ec0;
  text-decoration: none;
}

a:hover {
  color: #507ec0;
  text-decoration: underline;
}

/* default layout classes */

.header {
  background-image: url(/images/top_gradient.png);
  background-position: top;
  background-repeat: repeat-x;
  font-weight: normal;
  clear: both;
}

.header .cc_logo { 
  margin: 10px 0 0 5px;
}

.footer {
  font-size: 0.6em;
  color: #999;
  text-align: right;
  padding: 2em 1em 0 0;
  clear: both;
}

.footer .version {
  padding-right: 1.5em;
}

.footer a, .footer a:visited {
  color: #507ec0;
}

.main_menu {
  color: #507ec0;
  padding: 0.5em 1.5em 0 0.5em;
  float: right;
}

.main_menu .menu_item {
  color: #666;
  display: block;
  font-size: 0.8em;
  text-align: right;
  padding: 0 0.35em 0.2em 0;
}

.main_menu .menu_item a, .main_menu .menu_item a:visited {
  color: #507ec0;
}

#content {
  padding-left: 2.5em;
}

/* build status stuff */

.build_status { font-weight: bold; }
.build_failed .build_status, .build_never_built .build_status { text-transform: uppercase; }
.build_success .build_status { color: #0A0; }
.build_failed .build_status { color: #C00; }
.build_never_built .build_status { color: #888; }

a.success, a.success:visited {
}

a.failed, a.failed:visited {
  font-weight: bold;
  color: #C00;
}

a.never_built, a.never_built:visited {
  font-weight: bold;
  color: #888;
}

/* Project dashboard */

.project {
  margin: 0.5em 0;
  padding: 0 1.5em;
  min-height: 8em;
}  

.build_success, .build_never_built {
  background-image: url(/images/gray_gradient.png);
  background-position: bottom;
  background-repeat: repeat-x;
  margin-left: -2.5em;
}

.build_failed {
  background-image: url(/images/red_gradient.png);
  background-position: bottom;
  background-repeat: repeat-x;
}

.project table.project_pane {
  padding-left: .75em;
  width: 100%;
}

.project table.project_pane td {
  vertical-align: top;
  text-align: left;
}

.project table.project_pane td.project_summary {
  width: 40%;
}

.project table.project_pane td.build_details {
  width: 59%;
}

.project .project_summary .buttons {
  padding: 1.5em;
}

.project .project_summary .buttons form {
  display: inline;
}

.project .recent_builds {
  color: #666;
  font-size: 0.9em;
}

.project .recent_builds .lead {
  float: left;
  padding-right: 0.5em;
}

.project .recent_builds .builds_list {
  float: left;
}

.project .build_summary {
}

.project .project_name {
  padding: 0;
  margin: 0;
  font-size: 2em;
  font-weight: normal;
}

/* Other classes */
.warning {
  color: #F28218;
}

.error {
  color: #C00;
}

.log {
  overflow: auto;
}

.test-results {
  font-weight: bold;
}

.label {
  font-weight: bold;
  text-align: right;
}

.help {
  padding: 2em;
  color: #666;
}

.help a {
  color: #333;
}

.flash_notice {
  border: 1px solid #F87900;
  background-color: #FED;
  color: #F87900;
  padding: 1ex;
}

.build-time {
  margin-top: -1em;
  margin-left: 3em;
}

/* section stuff */
.section-header {
  cursor: pointer;
  font-size: 1.3em;
  padding-left: 1.3em;
  background: no-repeat center left;
}

.section-content {
  padding-left: 2em;
  font-family: courier, serif;
}

.section-content pre {
  font-family: courier, serif;
}

.section-closed .section-header { background-image: url(../images/arrow_closed.png); }
.section-open .section-header   { background-image: url(../images/arrow_open.png); }

.section-closed .section-content { display: none; }

.logfile {
  padding-top: 1em;
}

#build-list {
  float: right;
  text-align: right;
  width: 15em;
  padding: 1em 1.5em 1em 1em;
}

#build-list .selected a {
  background-color: #507ec0;
  color: #FFF;
}

#build-list .selected a, #build-list .selected a:visited {
  color: #FFF;
}

.build-link {
  padding: 1px;
  padding-left: .2em;
}

.projects_flash
{
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
}

.additional-artifacts {
  float:right;
  border: 1px solid #507ec0;
  padding: 0.3em;
}