body {
  font-family: verdana, helvetica, arial, sans-serif;
  font-size: 0.9em;
  margin: 0;
  border: 0;
  color: #000;
  background-color: #FFF;
}

h3 {
  margin-top: .4em;
}

img { border: 0; }

a, a:visited { 
  color: #44a; 
}

a:hover { 
  text-decoration: underline;
}

/* default layout classes */

.header {
  background-image: url(/images/header_background.gif);
  font-weight: bold;
}

.header .tw_logo { 
  float: right; 
  padding-top: 5px;
  padding-right: 5px;
}

.footer {
  font-size: 0.6em;
  color: #999;
  text-align: right;
  padding: 2em 1em 0em 0em;
}

.footer a, .footer a:visited {
  color: #666;
  text-decoration: none;
}
/* this looks weird - jss
.footer a:hover {
  color: #FFF;
  background-color: #666;
}
*/
.main_menu {
  /* TODO: a better color? */
  color: #66c;
  padding: 0.2em 0.5em 0 0.5em;
}

.main_menu .right_aligned {
  float: right;
}

.version {
  font-size: 0.75em;
  padding: 0.3em;
}

.main_menu .menu_item a, .main_menu .menu_item a:visited {
  text-decoration: none;
  padding: 0.2em 0.3em;
  color: #66c;
}

.main_menu .menu_item a:hover {
  color: #339;
  text-decoration: none;
}

#content {
  padding: 0 0.5em;
}

/* build status stuff */
.build_success { 
  background-color: #F8FFE6; 
  border-top: 2px solid #DFE6CF;
  border-left: 2px solid #DFE6CF;
}
.build_failed { 
  background-color: #FFE6FC; 
  border-top: 2px solid #E6CFE2;
  border-left: 2px solid #E6CFE2;
}
.build_never_built {
  background-color: #F6F6F6; 
  border-top: 2px solid #CCC;
  border-left: 2px solid #CCC;
}

.build_status { font-weight: bold; }
.build_success .build_status { color: #0A0;}
.build_failed .build_status { color: #A00; }
.build_never_built .build_status { color: #888; }

a.success, a.success:visited, td.left_column a.success, td.left_column a.success:visited  {
  font-weight: bold;
  color: #0A0;
}

a.failed, a.failed:visited, td.left_column a.failed, td.left_column a.failed:visited  {
  font-weight: bold;
  color: #A00;
}

a.never_built, a.never_built:visited, td.left_column a.never_built, td.left_column a.never_built:visited  {
  font-weight: bold;
  color: #888;
}

/* Project dashboard */

.project {
  padding: 0.5em;
  margin: 0.5em 0;
  width: 100%;
}

.project td { 
  vertical-align: top;
  text-align: left;
}

.project .project_summary {
  width: 40%;
}

.project .recent_builds {
  padding-top: 1em;
  font-size: 0.7em;
  width: 20%;
}

.project .filler {
  padding-top: 5em;
}

.project .project_name {
  font-family: georgia, helvetica, arial, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  font-weight: bold;
}

.project .project_name a, .project .project_name a:visited {
  color: #309;
  text-decoration: none;
}
.project .project_name a:hover {
  color: #309;
  text-decoration: underline;
}

/* Other classes */
.warning {
  color: orange
}

.error {
  color: red
}

.RecentBuildsPanel {
  border-style: solid;
  border-width: 1px;
  border-color: #333399;
  margin-bottom: 5px;
}

.RecentBuildsPanel th {
  background-color: #333399;
  text-align: center;
  font-weight: bold;
  padding: 3px;
  color: ivory;
}

.RecentBuildsPanel td {
  padding: 3px;
  background-color: white;
}

.ProjectGridHeader {
  color: ivory;
  font-weight: bold;
}

.ProjectGridHeader a {
  color: ivory;
  text-decoration: none;
}

.ProjectGridHeader a:hover {
  color: #FC0;
}

.log {
  overflow: auto;
}

/* new stuff */

.read .likes-save { display:none; }
.read .likes-edit { display:none; }
.edit .likes-read { display:none; }
.edit .likes-save { display:none; }
.save .likes-edit { display:none; }
.save .likes-read { display:none; }

.test-results {
  font-weight: bold;
}

.label {
  font-weight: bold;
  text-align: right;
}

table.settings {
  padding: 5px;
}

.help {
  color: #888;
}

.help a {
  color: #666;
}

.select_gmail_email_settings .manual_email_settings { display:none; }
.select_gmail_email_settings .no_authentication_email_settings { display:none; }

.select_manual_email_settings .gmail_email_settings { display:none; }
.select_manual_email_settings .no_authentication_email_settings { display:none; }

.select_no_authentication_email_settings .manual_email_settings { display:none; }
.select_no_authentication_email_settings .gmail_email_settings { display:none; }

.flash_notice {
  border: 1px solid #F87900;
  background-color: #FED;
  color: #F87900;
  padding: 1ex;
}

.build-time {
  margin-top: -1em;
  margin-left: 3em;
}

/* section stuff */
.section-header {
  cursor: pointer;
  font-size: 1.3em;
  padding-left: 1.3em;
  background: no-repeat center left;
}

.section-content {
  padding-left: 2em;
}

.section-closed .section-header { background-image: url(/images/closed_twisty.png); }
.section-open .section-header   { background-image: url(/images/open_twisty.png); }

.section-closed .section-content { display: none; }

.logfile {
  padding-top: 1em;
  
}

#build-list {
  float: right;
  margin-right: 2em;
  padding: 1em;
}

#build-list a {
  color: #66c;
  text-decoration: none;
}

#build-list .selected {
  background-color: #66c;
  color: white;
}

#build-list .selected a {
  color: #fff;
}

.build-link {
  padding: 1px;
  padding-left: .2em;
}