#menu_pane {
  float:left;
  padding: 1.5em;
}

#content {
  padding-left: 12em;
}

.hint {
  font-family: georgia, times, serif; 
  background-color: #EEE;
  padding: 0.5em;
  margin: 0.5em 2em;
  font-size: 0.9em;
  font-style: italic;
}

code {
  font-family: courier, serif;
  font-style: normal;
  font-size: 1em;
}

.hint code {
  font-style: normal;
  padding:0 0.3em;
  background-color: #F5F5FF;
}

div.next_step {
  color: #000;
  background-color: #FFF0F5;
  font-weight: bold;
  margin: 3em 2em 1em 2em;
  padding: 0.2em 1em;
}

.letter {
  font-family: georgia, times, serif;
  color: #62A;
  background-color: #FAFAFA;
  font-style: italic;
  padding: 0.5em 2em; 
}

.screencast_image {
  border: solid 3px #bbb;
  float: left;
  margin-right: 1em;
  padding: 3px;
}

.def {
  margin-left: 3em;
  margin-right: 3em;
  color: #555;
}

#plugin_list {
  float: left;
  width: 16em;
}

#plugin_documentation {
  margin-left: 16em;
  padding-left: 1em;
  border-left: solid black 1px;
  height: 100%;
}