<div id="no_projects_help" class="help">
  <h1>Welcome to CruiseControl.rb!</h1>
  <div style="padding: 1em;">
    <p>
      No projects are currently configured (checked <small><%= h Configuration.projects_root %></small>).
    </p>
    <h3>Adding a new project</h3>
    <p>
      You can add a new project using the web interface <%= link_to "here", new_project_path %>.
    </p>
    <p>
      Alternatively, to add a project using the command line, navigate to the directory where you unpacked this tool, and type:
    </p>
    <pre style="font-family: courier, serif">cruise add [project-name] -r [repository] -s [svn|git|hg|bzr]</pre>
    <p>
      If you have a problem with this command, you may find that
      <span style="font-family: courier, serif">cruise help</span> is ... helpful.
      If it isn't, there is always <%= link_to 'the manual', document_path('manual') %> and
      <a href="mailto:cruisecontrolrb-users@rubyforge.org">cruisecontrolrb-users@rubyforge.org</a> mailing list.
    </p>
  </div>
</div>


