<tr id="project_<%= project.name %>" class="project build_<%= project.last_complete_build_status %>">
  <td class="project_name"><%= link_to project.name, :action => 'show', :id => project.name %></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
