<div id=""no_builds_help" class="help">
  <p><%= h @project.name %> doesn't have any builds yet.</p>
  <p>
    To start building this project, you need to start the builder. Open command line in the directory where you
    unpacked CruiseControl.rb, and type:
  </p>
  <pre style="font-family: courier, serif">  cruise build <%= h @project.name %></pre>
</div>
