<div id="ft">
	<div class="links">
	  <%= link_to 'Contact Us', document_path('contact_us') %> | 
	  <%= link_to 'ThoughtWorks.com', 'http://www.thoughtworks.com', :target => '_blank' %> |
	  <%= link_to 'ThoughtWorks Studios', 'http://studios.thoughtworks.com', :target => '_blank' %>	
	</div>
	<div class="copyright">
    Version <%= CruiseControl::VERSION::STRING %> | 
		&copy; ThoughtWorks Copyright 2007
	</div>
</div>
