<div class="footer">
  <div class="tw_logo">
    <%= link_to image_tag("tw_logo.gif"), "http://www.thoughtworks.com/" %>
  </div>
  <div class="version">
    <div>Version <%= CruiseControl::VERSION::STRING %></div>
    <div>Powered by <a href="http://rubyonrails.org">Ruby on Rails</a></div>
  </div>
</div>
