<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <title>CruiseControl.rb<%= @title ? " - " + @title : '' %></title>
  <%= stylesheet_link_tag '/thoughtworks_studios/reset', :media => 'all' %>
  <%= stylesheet_link_tag '/thoughtworks_studios/fonts', :media => 'all' %>
  <%= stylesheet_link_tag '/thoughtworks_studios/grids', :media => 'all' %>
  <%= stylesheet_link_tag '/thoughtworks_studios/base', :media => 'all' %>
  <%= stylesheet_link_tag 'documentation', :media => 'all' %>
  <%= javascript_include_tag '/thoughtworks_studios/page' %>
  <%= javascript_include_tag :defaults %>
</head>
<body>
	<div id="doc" class="yui-t4">
    <%= render :partial => '/documentation/header' %>

		<div id="bd" class="thick">
		  <div class="yui-b" id="side-bar">
		    <div class="inner">
          <%= render :partial => '/documentation/' + (@sidebar || 'sidebar_docs') %>
		    </div>
      </div>

		  <div id="yui-main">
		    <div class="yui-b">
		      <div class="inner">
		        <%= yield %>
		      </div>
		    </div>
		  </div>
    </div>

    <%= render :partial => '/documentation/footer' %>
  </div>
</body>
</html>
